<div class="row">
	<div class="large-12 columns">

	<div id="search_for_stuff">
		<%= render(:partial => 'home/search_for_stuff') %>	
	</div>

	
	<div id="search_results">
	</div>
	<div id="vi_address_additional_fields">
	</div>
	</div>

</div>
