<div class="row">
	<div class="large-12 columns">

	<div id="search_for_stuff">
		<%= render(:partial => 'home/search_for_stuff') %>	
	</div>

	
	<div id="search_results">
		<%#= render(:partial => 'home/search_results') %>
	</div>
	</div>

</div>
