<!-- Navigation -->

<nav class="top-bar nav">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
	<h1 style="margin-left: 10px;">

	<a href="/">
		<span class="red">L</span>egislator <span class="red">L</span>ookup!
	</a>
	</h1>
   </li>
 </ul>

 <section class="top-bar-section">
   <ul class="left">
    <% if @auth.blank? %>
	<li class='name'><h1><%= link_to('Login', '#', :'data-reveal-id' => 'login') %></h1></li>
	<li class='name' data-position=right data-intro="Click here to Register"><h1><%= link_to('Register', '#', :'data-reveal-id' => 'register' ) %> </h1> </li>
    <% end %>

  <% if @auth.present? %> <!-- only show the below if logged in -->
	  <li class='has-dropdown' data-position=right data-intro='Click here to Log Out'>
		<%= link_to('Hello, ' + @auth.first_name + '!', '#') %>
	<ul class="dropdown">
		<li><%= link_to('Logout', '/users/sign_out', :method => :delete ) %> </li>
	</ul>
	</li>

	<li>
		<%= link_to('Show Bookmarks', show_bookmarks_path(:id => @auth.id), :method => :get, :remote => true) %> 
       </li>
  <% else %>
  <% end %>


</ul>


</section>
</nav>
<!-- End Top Bar -->
<!-- End Navigation -->

<% if !@auth.present? %>
<div id="call_to_action">
<div class="row-special">
<div class="large-3 columns screen">
<h2> Instantly find <span class="red"> Representative </span> and <span class="red"> Senator </span> information for any given address!</h2>
<h3> Great for: </h3>

<div class="great_for">
<span class="red"> Political Action Committees</span>,</br>
<span class="red">Grass Roots Campaigns</span> and</br> 
<span class="red">Advocacy Groups</span> of all types! 
</div></br>

<h3> Instantly pull up <span class="red">Contact Information</span>!</h3></br>
<h3> View <span class="red">Committee</span> and <span class="red">Subcommittee</span>membership too!</h3></br>

</div>
</div>
</div>
<% end %>

<div id="login" class="reveal-modal [small]">
  <%= render :template => "devise/sessions/new",
		    :locals => {
		      :resource => User.new,
		      :resource_name => :user } %>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="register" class="reveal-modal [small]">
  <%= render :template => "devise/registrations/new", 
                    :locals => { 
                      :resource => User.new, 
                      :resource_name => :user } %>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="forgot_password" class="reveal-modal [small]">
  <%= render :template => "devise/passwords/new",
                    :locals => {
                      :resource => User.new,
                      :resource_name => :user } %>
  <a class="close-reveal-modal">&#215;</a>
</div>
